@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.color_red{
    color: red;
}
.bg_1{
    background-color: red;
}
.bg_2{
    background-color:var(--color);
}

:root{
    --color:#FF9400;
    --color2:#FF6A00;
    --color3:#FFF8DC;
}

/* call_us_section_start */
.call_us_section{
    background-color: #F3F3F3;
}
.call_us_main{
text-align: right;
}
.call_us_main ul{
margin-bottom: 0px;
}
.call_us_main ul li {
display:inline-block;
padding: 8px 6px;
}
.call_us_main ul li a{
    font-size: 14px;
    color:black;
    font-weight:500;
}
/* call_us_section_end */
/* himel_logo_section_start */
.himeshop_logo_section{

}
.himeshop_logo{

}
.himeshop_logo_search{

}
.search_section input{
    border:2px solid red;
   

}
.search_section{
    position: relative;
}
.search_section input:focus{
 border-color: yellow;
}
.search_icon .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1.4em;
    overflow: visible;
    vertical-align: -0.125em;
    color: white;
    background: red;
    padding: 8px 14px;
    position: absolute;
    top:0px;
    right: 1px;
    bottom: 0px;
    border-radius: 0px 7px 7px 0px;
}
.himeshop_logo_right{
text-align: right;
}
.himeshop_logo_right .btn{
    background-color: var(--color2);
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 16px;
}
/* himel_logo_section_end */
/* menu_bar_section_start */
.menu_bar_section_start{
border-bottom: 1px solid paleturquoise;
box-shadow: 0px 3px 5px 1px powderblue;
}
.menu_bar_section{

}
.menu_bar_section ul{
text-align:left;
padding-left: 0px;
}
.menu_bar_section ul li{
display: inline-block;
padding: 4px 11px;
border-radius: 6px;
transition: 0.7s;
}
.menu_bar_section ul li:hover{
    background-color:var(--color);
 }
 .menu_bar_section ul li:hover a{
color: white;
 }
.menu_bar_section ul li a{
    font-size: 15px;
    font-weight: 600;
    color: black;
}
/* menu_bar_section_end */
.crasole_section_start{

}
.crasole_section_left{

}
.crasole_section_right{

}
.cra_ri_img_size{
    width:100%;
}
/* .home_item_list_section_start */
.home_item_list_section{
background-color: #F9F9F9;
}
.home_item_list_one{
border: 1px solid red;
text-align: center;
}
.home_item_list_one_img{
height: 200px;
overflow: hidden;
}
.home_item_list_one_para{
background-color: var(--color3);
text-align: center;
}
.home_item_list_one_para small{
    font-size: 12px;
    font-weight: bold;
    color: #525252;
}
.home_item_list_one_para p{
margin: 0px;
color: black;
height: 23px;
line-height:28px;color: #355088;
font-size: 16px;
font-weight: bold;
}

.home_item_list_one_btn{
text-align: center;
}
.home_item_list_one_btn a{
    font-size: 12px;
   display: inline-block;
   color: white;
   font-weight: 600;
}
.home_item_list_more{
    text-align: center;
}
.home_item_list_more .btn{
    background-color: var(--color2);
    color: white;
    font-size: 14px;
    padding: 4px 18px;
}
.home_item_list_more .btn:hover{
    background-color: var(--color2);
    color:yellowgreen;
}
/* home_item_list_section_end */
/* -- */
.footer_section_start{

}
.footer_section_left{

}
/* inner_left_start */
.footer_left_inner_left{

}
.footer_left_inner_left_img{

}
.footer_left_inner_left h3{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.footer_left_inner_left p{
    margin: 0px;
    font-size: 13px;
    color:#666;
    font-weight:700;
}
.footer_left_inner_left_icon{

}
.footer_left_inner_left_icon a{
    width: 50px;
    height: 50PX;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgb(0 0 0 / 30%);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    margin: 6px;
    background: linear-gradient(0deg, #fff, #ddd);
    color: #262626;
    transition: .5s;
}

.footer_left_inner_left_icon .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
 
}
/* inner_left_end */
.footer_left_inner_middle{

}
.footer_left_inner_middle h5{
    font-size: 18px;
    font-weight: bold;
}
.footer_left_inner_middle p{
color: #505050;
margin-bottom: 0px;
font-size: 14px;
padding-top: 6px;
}
.footer_left_inner_right{

}
.footer_section_right h5{
    font-size: 18px;
    font-weight: bold;
}
.footer_section_right p{
    color: #505050;
margin-bottom: 0px;
font-size: 14px;
padding-top: 6px;
}
.footer_section_right_btn{

}
.footer_submit_btn .btn{
    background-color:var(--color);
    color: white;
    font-size: 14px;
   display: block;
}
.footer_submit_btn .btn:hover{
    color:yellow;
    background-color: navy;
}
/* footer_section_left_main_end */
/* .footer_our_opps_section_start */
.footer_our_apps_section{

}
.footer_our_apps_left{

}
.footer_our_apps_left_inner_left{

}
.footer_our_apps_left_inner_left h5{
    font-size: 18px;
    font-weight: bold;
}
.footer_our_apps_left_inner_right{

}
.footer_our_apps_left_inner_right h5{
    font-size: 18px;
    font-weight: bold;
}
/* left_end */
.footer_our_apps_right{

}
.footer_our_apps_right h5{
    font-weight: bold;
    font-size: 18px;
}
.footer_copy_right{

}
.footer_copy_right p{
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    line-height: 20px;
}
/* footer_our_opps_section_end */